<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          В этом проекте предоствалена База данных о всех просмотренных и
          прослушанных мною Фильмов, Сериалов, ниме, Манги и Аудиокниг. Все оценки
          и мои личные комментарии к конетенту сугубо моё мнение и оно может не
          совпадать с вашим. Может это кому-нибудь поможет найти контент для
          досуга, а если нет, то я всёровно делал этот проект для себя, так что
          пофиг)
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>
            <a href="https://mymediadata-11a08.firebaseapp.com/home">Home</a>
          </li>
          <li><a href="http://localhost:4200/home">Localhost Home</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright 2023 All Rights Reserved by MelomanDataBase
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/profile.php?id=100028337272977"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              class="telegram"
              href="https://web.telegram.org/k/"
              ><i class="fa fa-telegram"></i
            ></a>
          </li>
          <li>
            <a
              class="instagram"
              href="https://www.instagram.com/fallenmoonshard/?next=%2F"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/dima-kezik-121532273/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
