<form [formGroup]="formGroup">
  <ng-container *ngIf="getIsAccessControl('name')">
    <div class="mb-3">
      <label
        class="form-label"
        for="name"
        >Name
      </label>
      <input
        class="form-control"
        formControlName="name"
        id="name"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('imageLink')">
    <div class="mb-3 flex-control">
      <div class="image-link">
        <label
          class="form-label"
          for="imageLink"
        >Image Link</label
        >
      <input
        class="form-control"
        formControlName="imageLink"
        id="imageLink"
        type="url"
      />
      </div>
      <div class="preview">
      <img
        [alt]="formGroup.get('imageLink')?.value"
        [src]="formGroup.get('imageLink')?.value"
        class="preview"
      />
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('myTop')">
    <div class="mb-3">
      <label
        class="form-label"
        for="myTop"
        >My Top Rating</label
      >
      <input
        class="form-control"
        formControlName="myTop"
        id="myTop"
        max="10"
        min="0"
        type="number"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('comments')">
    <div class="mb-3">
      <label
        class="form-label"
        for="comments"
        >My Comments</label
      >
      <input
        class="form-control"
        formControlName="comments"
        id="comments"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('link')">
    <div class="mb-3">
      <label
        class="form-label"
        for="link"
        >Link To Content</label
      >
      <input
        class="form-control"
        formControlName="link"
        id="link"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('filmGenre')">
    <div class="mb-3">
      <label
        class="form-label"
        for="filmGenre"
        >Film Genre</label
      >
      <input
        class="form-control"
        formControlName="filmGenre"
        id="filmGenre"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('description')">
    <div class="mb-3">
      <label
        class="form-label"
        for="description"
      >Description</label
      >
      <textarea
        class="form-control"
        formControlName="description"
        id="description"
        type="text"
      ></textarea>
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('IMDb')">
    <div class="mb-3">
      <label
        class="form-label"
        for="IMDb"
      >IMDb</label
      >
      <input
        class="form-control"
        formControlName="IMDb"
        id="IMDb"
        max="10"
        min="0"
        type="number"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('seasons')">
    <div class="mb-3">
      <label
        class="form-label"
        for="seasons"
      >Seasons</label
      >
      <input
        class="form-control"
        formControlName="seasons"
        id="seasons"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('episodesInSeason')">
    <div class="mb-3">
      <label
        class="form-label"
        for="episodesInSeason"
      >Episodes (Season / All)</label
      >
      <input
        class="form-control"
        formControlName="episodesInSeason"
        id="episodesInSeason"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('category')">
    <div class="mb-3">
      <label
        class="form-label"
        for="category"
      >Category Anime</label
      >
      <input
        class="form-control"
        formControlName="category"
        id="category"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('chapters')">
    <div class="mb-3">
      <label
        class="form-label"
        for="chapters"
      >Chapters</label
      >
      <input
        class="form-control"
        formControlName="chapters"
        id="chapters"
        type="number"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('remangaGrade')">
    <div class="mb-3">
      <label
        class="form-label"
        for="remangaGrade"
      >Remanga Grade</label
      >
      <input
        class="form-control"
        formControlName="remangaGrade"
        id="remangaGrade"
        max="10"
        min="0"
        type="number"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('books')">
    <div class="mb-3">
      <label
        class="form-label"
        for="books"
      >Books</label
      >
      <input
        class="form-control"
        formControlName="books"
        id="books"
        type="number"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('release')">
    <div class="mb-3">
      <label
        class="form-label"
        for="release"
      >Release</label
      >
      <input
        class="form-control"
        formControlName="release"
        id="release"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('state')">
    <div class="mb-3">
      <label
        class="form-label"
        for="state"
      >State product</label
      >
      <input
        class="form-control"
        formControlName="state"
        id="state"
        type="text"
      />
    </div>
  </ng-container>

  <ng-container *ngIf="getIsAccessControl('views')">
    <div class="mb-3">
      <label
        class="form-label"
        for="views"
      >Number of views</label
      >
      <input
        class="form-control"
        formControlName="views"
        id="views"
        type="text"
      />
    </div>
  </ng-container>

  <button
    (click)="submitData()"
    [disabled]="formGroup.invalid"
    class="btn btn-primary"
    type="submit"
  >
    Submit
  </button>
</form>
