.main {
  margin: 20px;
}

.admin-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.preview {
  width: 70px;
}

.without-hover:hover {
  background-color: #595959;
}

.table td,
th {
  text-align: center;
  font-size: 16px;
}
