.main {
  margin: 20px 20px -10px 20px;
}

.user-icon {
  height: 50px;
  border-radius: 50px;
  z-index: 99;
  cursor: pointer;
  margin-left: -25px;
}

.btn-outline-dark {
  color: #fde1e1;
  transition: 500ms;
}

.avatar {
  display: flex;
  align-items: center;
  margin-left: 70px;
}

.log-out-btn {
  border: 1px solid black;
  border-left: none;
  height: 50px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px 0 0 50px;
  background-color: #250f25;
  color: #fafafa;
}

.tab-add {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.log-out-btn:hover {
  background-color: #090510;
  cursor: pointer;
  color: #ad1818;
}

.vis-log {
  width: 120px;
  transition: 500ms;
}

.hid-log {
  width: 0;
  transition: 500ms;
}

.admin-tabs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.preview {
  width: 70px;
}

.without-hover:hover {
  color: #d00b0b;
  background-color: #090510;
  transition: 500ms;
}

.table td,
th {
  text-align: center;
  font-size: 15px;
  color: #fde1e1;
  background: rgba(9, 9, 9, 0.8);
}

app-sandwich {
  display: none;
}

.flex-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.actions-buttons {
  width: 32px;
  height: 32px;
  margin: 5px;
}

@media (max-width: 768px) {
  .admin-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .btn-group > button {
    margin: 10px 0 10px 0;
  }

  .menu-hide > button {
    display: none;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  app-sandwich {
    display: flex;
    align-items: center;
  }

  .avatar {
    margin-left: 40px;
  }

  .menu-tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flex-buttons {
    flex-direction: column;
  }
}
