<div class="main">
  <div class="admin-tabs">
    <div class="menu-tools">
      <app-sandwich (toggleSidenavEvent)="toggleMenu()"></app-sandwich>
      <div class="tab-add">
        <button
          (click)="add()"
          class="btn btn-outline-dark"
          type="button"
          style="width: 120px; height: 38px"
        >
          Add New
        </button>

        <div
          class="avatar"
          *ngIf="user"
        >
          <div
            (click)="logout()"
            class="log-out-btn"
            [ngClass]="{ 'hid-log': !userIconState, 'vis-log': userIconState }"
          >
            Log out
          </div>
          <img
            class="user-icon"
            (click)="changeUserIconState()"
            *ngIf="user.photoURL"
            [src]="user.photoURL"
            alt="avatar"
          />
        </div>
      </div>
    </div>

    <div
      aria-label="Tabs"
      class="btn-group"
      role="group"
      [ngClass]="{ 'menu-hide': !isMenuOpen }"
    >
      <button
        (click)="changeTab(tabName)"
        *ngFor="let tabName of tabNamesList"
        [ngClass]="{ active: tab === tabName }"
        class="btn btn-outline-dark without-hover"
        type="button"
      >
        {{ tabName | titlecase }}
      </button>
    </div>
  </div>

  <div style="overflow-x: auto; margin-top: 15px">
    <div class="table">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th
              scope="col"
              style="width: 400px"
            >
              Name
            </th>
            <th scope="col">Description</th>
            <th
              scope="col"
              style="width: 200px"
            >
              My Top Rating
            </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entity of showArray">
            <th
              style="width: 140px"
              class="align-middle"
            >
              <img
                [alt]="entity.imageLink"
                [src]="entity.imageLink"
                class="preview"
              />
            </th>
            <td
              class="align-middle"
              style="font-size: 18px"
            >
              <b>{{ entity.name }}</b>
            </td>
            <td class="align-middle">
              {{ truncateString(entity.description) }}
            </td>
            <td
              class="align-middle"
              style="font-size: 18px"
            >
              <b>{{ entity.myTop }}</b>
            </td>
            <td
              class="align-middle"
              style="width: 100px"
            >
              <div class="flex-buttons">
                <button
                  (click)="edit(entity)"
                  class="btn btn-sm btn-success actions-buttons"
                  type="button"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  (click)="delete(entity)"
                  class="btn btn-sm btn-danger actions-buttons"
                  type="button"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
      fgdfgdfg
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="https://mymediadata-11a08.firebaseapp.com/home">Home</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright 2023 All Rights Reserved by MelomanDataBase
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/profile.php?id=100028337272977"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a
              class="telegram"
              href="https://web.telegram.org/k/"
              ><i class="fa fa-telegram"></i
            ></a>
          </li>
          <li>
            <a
              class="instagram"
              href="https://www.instagram.com/fallenmoonshard/?next=%2F"
              ><i class="fa fa-instagram"></i
            ></a>
          </li>
          <li>
            <a
              class="linkedin"
              href="https://www.linkedin.com/in/dima-kezik-121532273/"
              ><i class="fa fa-linkedin"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<ng-template
  #content
  let-modal
>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button
      (click)="modal.dismiss('Cross click')"
      aria-label="Close"
      class="btn-close"
      type="button"
    ></button>
  </div>
  <div class="modal-body">
    <app-admin-panel-editor
      [type]="tab"
      [editableEntity]="editableEntity"
      (changeData)="updateData($event)"
    ></app-admin-panel-editor>
  </div>
</ng-template>
