.main {
  margin: 20px;
}

.admin-tabs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
.preview {
  width: 70px;
}

.without-hover:hover {
  color: #d00b0b;
}

.table td,
th {
  text-align: center;
  font-size: 16px;
}

app-sandwich {
  display: none;
}

.flex-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.actions-buttons {
  width: 32px; height: 32px; margin: 5px
}

@media (max-width: 768px) {
  .admin-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .btn-group > button {
  margin: 10px 0 10px 0;
  }

.menu-hide > button {
  display: none;
}

  .btn-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  app-sandwich {
    display: flex;
    align-items: center;
  }
  .menu-tools {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .flex-buttons {
    flex-direction: column;
  }
}



