.sticky-wrap {
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  transition: 500ms;
  opacity: 1;
  z-index: 2;
}

.nav-hidden {
  top: -80px;
}

.items-space {
  display: flex;
  height: 70px;
  align-items: center;
}

.items-space-logo {
  display: flex;
  height: 75px;
  align-items: center;
}


.custom-link {
  text-decoration: none;
  margin-left: 50px;
  font-size: 20px;
  font-weight: 700;
  color: #e7e7e7;
  transition: color 500ms linear;
  font-style: italic;
  cursor: pointer;
}

.custom-link:hover {
  scale: 1.2;
  color: #d00b0b;
  transition: color 500ms linear;
}

.nav-logo {
  margin-left: 5px;
  height: 70px;
  border-radius: 35px;
  cursor: pointer;
}

app-sandwich {
  display: none;
}

.nav-search {
  margin-right: 5px;
}

.form-search {
  position: relative;
  display: inline-block;
  border: 1px solid #747474;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
  background-image: linear-gradient(#BCBCBC, #EBEBEB);
}

.form-search:before {
  position: absolute;
  content: "";
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  z-index: -1;
  border-radius: 5px;
  background: linear-gradient(#D3D3D3, #CACACA 50%, #A9A9A9 50%, #9B9B9B);
}

.form-search:focus-within {
  box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #FFF;
  background: linear-gradient(#9CC2CA, #DFECEF);
}

.form-search input[type="search"] {
  width: 60px;
  height: 32px;
  line-height: 32px;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0 0 0 6px;
  background: transparent;
  font: 13px Helvetica, Arial, sans-serif;
  color: #6E7074;
  text-shadow: 0 1px 0 #FFF;
  transition: all .2s ease-out;
}

.form-search:focus-within input[type="search"],
.form-search input[type="search"]:focus {
  width: 160px;
  color: #25464D;
}

.form-search input[type="image"] {
  padding: 0;
  vertical-align: bottom;
}

.logo-text {
  margin-left: 15px;
  font-size: 25px;
  color: #f8c9c9;
  font-family: 'Matura MT Script Capitals', sans-serif;
  align-items: center;
}

@media (max-width: 768px) {
  .sticky-wrap {
    flex-direction: column;
    height: 420px;

  }

  .nav-hidden {
    top: -425px;
  }

  .hidden-items {
    opacity: 0;
    transition: none;
  }

  .mobile-height {
    height: 80px;
  }

  .items-space-logo {
    display: flex;
    height: 75px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .nav-search {
    position: fixed;
    top: 19px;
    right: 10px;
  }

  .nav-hidden {
    display: flex;
  }

  .items-space {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  app-sandwich {
    display: block;
  }
}
