<div
  class="sticky-wrap"
  [ngClass]="{
    'nav-hidden': scrollDirection === 'down',
    'mobile-height': !isMenuOpen
  }"
>
  <div class="items-space-logo">
    <img
      (click)="changeTab('home')"
      alt="image"
      class="nav-logo"
      src="https://img1.mnogo-futbolochek.ru/images/0/2/2900/2900721/previews/people_2_sign_front_white_700.jpg"
    />
    <div
      class="logo-text"
      (click)="toggleMenu()"
    >
      <span>MelomanDataBase</span>
    </div>
  </div>
  <div
    class="items-space"
    *ngFor="let tabName of tabNamesList"
    [ngClass]="{ 'hidden-items': !isMenuOpen }"
  >
    <a
      class="custom-link"
      (click)="changeTab(tabName)"
    >
      {{ tabName | titlecase }}
    </a>
  </div>
  <div
    class="sign-btn"
    (click)="logIn()"
    [ngClass]="{ 'hidden-items': !isMenuOpen }"
  >
    Sign in
  </div>
  <div
    class="nav-search"
    [ngClass]="{ 'hidden-items': scrollDirection === 'down' }"
  >
    <form
      action="/search/"
      class="form-search"
      target="_blank"
    >
      <input
        name="searchid"
        type="hidden"
      />
      <input
        name="text"
        placeholder="Search"
        required
        type="search"
        [(ngModel)]="searchValue"
        (keyup)="updateSearchValue()"
      />
      <input
        alt="#"
        src="https://3.bp.blogspot.com/-4w14hQHr5yQ/Tgm6u7KwUkI/AAAAAAAACAI/Hu2poBOPx3g/s1600/search.png"
        type="image"
      />
    </form>
  </div>
</div>
<div
  class="sticky-wrap"
  style="opacity: 0.7; z-index: 1; background-color: #0c0202"
  [ngClass]="{
    'nav-hidden': scrollDirection === 'down',
    'mobile-height': !isMenuOpen
  }"
></div>
