.container {
  position: relative;
  padding: 0;
}

.menu-icon {
  cursor: pointer;
}

.menu-border {
  width: 30px;
  border: 1px;
}

.menu-item {
  width: 25px;
  height: 3px;
  background-color: #e5dddd;
  margin: 5px 0;
}


