.aboutTab {
  cursor: pointer;
}

.preview {
  width: 80px;
}

.without-hover:hover {
  color: #d00b0b;
}

.table td,
th {
  text-align: center;
  font-size: 16px;
  background: rgb(4,15,6);
  background: linear-gradient(0deg, rgba(4,15,6,1) 0%, rgba(0,0,0,1) 100%);
  color: #ffe8e8;
  border-color: black;
}
.wrapper {
  background: rgb(4,15,6);
  background: linear-gradient(0deg, rgba(4,15,6,1) 0%, rgba(0,0,0,1) 100%);
  padding-top: 80px;
  background: rgb(4, 15, 6) !important;
  min-height: 100vh;
}
.table tr {
  border-color: black;
}

.short-text {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (max-width: 768px) {
  .table td,
  th {
    color: #fde1e1 !important;
    font-size: 11px !important;

  }

  .preview {
    width: 60px;
  }
}

